# Configurazione portabile del progetto
UNIFIED_PORT=5500
VSC_SCRIPT_PDF_DIR=./pdf
VSC_VIDEOCLIP_PATH=./videos
VSC_SIAE_DIR=C:\VSC_SIAE
USERFORM_RECORDINGS_DIR=./userform-recordings
LEGACY_RECORDINGS_DIR=./legacy-recordings
ELECTRON_CONTROL_PORT=5512
FFMPEG_PATH=
VLC_PATH=
BORDERO_GOOGLE_SYNC_ENABLED=true
FIREBASE_CLOUD_SYNC_ENABLED=true
FIREBASE_DATABASE_URL=https://my-project-1525790600392-default-rtdb.europe-west1.firebasedatabase.app
# Token admin Realtime Database: non salvarlo nel repository
FIREBASE_DATABASE_SECRET=
DISPLAY_WINDOW_TITLE_HINT=Monitor Secondario
USERFORM_RECORDING_MODE=direct-mp4
